<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">

    <form [formGroup]="userForm">
        <div class="row">

            <div class="col-md-6">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" id="form1" class="form-control" formControlName="firstName"
                        required />
                    <label mdbLabel class="form-label" for="form1">First name</label>
                    <mdb-error *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">First name is
                        required
                    </mdb-error>
                    <mdb-success *ngIf="firstName?.valid && (firstName?.dirty || firstName?.touched)">Looks good!
                    </mdb-success>
                </mdb-form-control>
            </div>

            <div class="col-md-6">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" id="form2" class="form-control" formControlName="lastName"
                        required />
                    <label mdbLabel class="form-label" for="form2">Last name</label>
                    <mdb-error *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">Last name is required
                    </mdb-error>
                    <mdb-success *ngIf="lastName?.valid && (lastName?.dirty || lastName?.touched)">Looks good!
                    </mdb-success>
                </mdb-form-control>
            </div>

        </div>
    </form>

    <br><br>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
        Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>