<div class="wrapper bg-white">
    <div class="h2 text-center">Communicator</div>

    <div class="h4 text-muted text-center pt-2">Enter your login details</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="pt-3">
        <div class="form-group py-2">
            <div class="input-field">
                <span class="fas fa-user p-2"></span>
                <input type="text" placeholder="Username or Email Address" required formControlName="email"
                    class="form-control">
            </div>
        </div>

        <div class="form-group py-1 pb-2">
            <div class="input-field">
                <span class="fas fa-lock p-2"></span>
                <input #pw type="password" placeholder="Enter your Password" required formControlName="password"
                    class="form-control">
                <button type="button" (click)="(pw.type = pw.type == 'password' ? 'text' : 'password')"
                    class="btn bg-white btn-sm text-muted">
                    <span *ngIf="pw.type == 'password' else eyeIcon;" class="far fa-eye-slash"></span>
                    <ng-template #eyeIcon><span class="far fa-eye"></span></ng-template>
                </button>
            </div>
        </div>

        <div class="d-flex align-items-start">
            <div class="ml-auto">
                <a href="#" id="forgot">Forgot Password?</a>
            </div>
        </div>

        <button [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-block text-center my-3">Log
            in</button>

        <div class="text-center pt-3 text-muted">This is a private web application. Contact your system admin for more
            details.</div>
    </form>

</div>