.sidenav-menu {
  background-color: bisque;
  opacity: .8;
}

.sidenav-menu:hover {
    opacity: 1 !important;
}

.sidenav-margin {
    margin-top: 20%;
    width: 180px;
    opacity: .8;
}

.sidenav-margin:hover {
    margin-top: 20%;
    opacity: 1;
}
