<div class="wrapper" style="margin-top: 75px;">

    <!-- d-flex align-items-center justify-content-center -->
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Welcome </h5>
            <h6 class="card-subtitle mb-2 text-muted">You are now authenticated.</h6>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
            </p>
            <!--
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            -->
            <button (click)="testButton($event)" class="btn btn-sm btn-secondary">Test WebSocket</button>
        </div>
    </div>

</div>

<div class="wrapper">

    <div class="bg-info rounded p-2 shadow" *ngIf="currentUser; else loggedOut">
        <header class="jumbotron">
            <h3>
                <strong>{{ currentUser.email }}</strong> Profile
            </h3>
        </header>
        <hr />
        <p>
            <strong>Token:</strong>
            {{ currentUser.accessToken.substring(0, 20) }} ...
            {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
        </p>
        <p>
            <strong>Email:</strong>
            {{ currentUser.email }}
        </p>
        <strong>Roles:</strong>
        <ul>
            <li *ngFor="let role of currentUser.roles">
                {{ role }}
            </li>
        </ul>
    </div>

    <ng-template #loggedOut>
        Please login.
    </ng-template>


</div>