<mdb-sidenav-layout>

    <mdb-sidenav #sidenav="mdbSidenav" [expandOnHover]="true" [closeOnEsc]="false" [slim]="true" [slimCollapsed]="true"
        [mode]="'push'" [hidden]="false" [backdrop]="false" [position]="'relative'" [color]="'dark'" [width]="180"
        [transitionDuration]="150" class="fixed-top sidenav-margin">

        <ul class="sidenav-menu border border-dark rounded-3">

            <mdb-sidenav-item>
                <a class="sidenav-link">
                    <i class="fas fa-cogs fa-fw me-3"></i><span slim="false">Link 1</span></a>
            </mdb-sidenav-item>

            <mdb-sidenav-item>
                <a class="sidenav-link">
                    <i class="fas fa-bullhorn fa-fw me-3"></i><span slim="false">Link 2</span></a>
            </mdb-sidenav-item>

            <mdb-sidenav-item>
                <a class="sidenav-link">
                    <i class="fas fa-search fa-fw me-3"></i><span slim="false">Link 3</span></a>
            </mdb-sidenav-item>

            <mdb-sidenav-item>
                <a class="sidenav-link">
                    <i class="far fa-meh fa-fw me-3"></i><span slim="false">Link 4</span></a>
            </mdb-sidenav-item>

            <mdb-sidenav-item>
                <a class="sidenav-link">
                    <i class="fas fa-poo fa-fw me-3"></i><span slim="false">Link 5</span></a>
            </mdb-sidenav-item>

            <!-- collapse example
        <mdb-sidenav-item>
          <a class="sidenav-link"><i class="fas fa-grin fa-fw me-3"></i><span slim="false">Category
              1</span></a>
          <ul class="sidenav-collapse" mdbCollapse>
            <li class="sidenav-item">
              <a class="sidenav-link">Link 2</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link">Link 3</a>
            </li>
          </ul>
        </mdb-sidenav-item>
        -->

        </ul>
    </mdb-sidenav>

    <mdb-sidenav-content #sidenavContent>
        <!-- Toggler examples -->
        <!--
            <button #sidenavToggle class="btn btn-primary" (click)="sidenav.toggle()">
                <i class="fas fa-bars"></i>
            </button>

            <button #sidenavToggle class="btn btn-primary" (click)="sidenav.toggleSlim()">
                  toggle slim
            </button>
        -->
    </mdb-sidenav-content>


</mdb-sidenav-layout>